// Обнуление стилей
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
// Обнуление стилей

:root{
	--cellsSize: 0px;
	--playgroundCellsSize: 0px;
}

body{
  font-family: 'Audiowide', cursive;
  background-color: rgb(245, 245, 245);
}
// --- header ---
.header-menu__icon{
  width: 50px;
  height: 50px;
  padding: 0 0 0 60px;
  background: url("../img/icon-bomb.png") 0 0/auto 100% no-repeat;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.header-menu__container{
  max-width: 1000px;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu__options{
  display: flex;
}


// --- main ---
.playground__container{
  position: relative;
  max-width: var(--playgroundCellsSize);
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.playground__modal{
  position: absolute;
  top: -100%;
  height: var(--playgroundCellsSize);
  width: var(--playgroundCellsSize);
  background-color: rgba(255, 255, 255, 0.507);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
  opacity: 0;
  transition: .7s;
  z-index: 10;
  &.open-modal{
    top: 50px;
    opacity: 1;
    pointer-events: auto;
    transition: .7s;
  }
}
.playground__modal-text{
  margin: 25px 0;
  font-size: 25px;
  padding: 5px;
  color: white;
  border: 2px outset rgb(255, 174, 0);
  border-radius: 5px;
  background-color: rgb(59, 59, 59);
}

.btn{
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  background-color: rgb(59, 59, 59);
  border: 2px outset rgb(255, 255, 255);
  transition: .3s;
  &:hover{
    cursor: pointer;
    color: rgb(255, 174, 0);
    border: 2px outset rgb(255, 174, 0);
    transition: .3s;
  }
  &:active{
    border: 2px inset rgb(255, 255, 255);
    transform: scale(0.99);
    transition: .3s;
  }
}

.playground__menu{
  width: var(--playgroundCellsSize);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}
.playground__bombs-count{
  display: flex;
  align-items: center;
}
.bombs-count{
  padding: 5px;
  color: white;
  border: 2px outset rgb(255, 174, 0);
  border-radius: 5px;
  background-color: rgb(59, 59, 59);
}

.playground__help-btn{
  width: auto;
  height: auto;
  padding: 5px;
}

.playground__cells{
  cursor: pointer;
  margin: 10px 0;
  width: var(--playgroundCellsSize);
  flex-wrap: wrap;
  display: flex;
  box-sizing: content-box;
  background-color: rgb(206, 206, 206);
  border: 3px solid rgb(59, 59, 59);
  border-radius: 2px;

}

.playground__cell{
  width: var(--cellsSize);
  height: var(--cellsSize);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(59, 59, 59);
  border: 2px outset rgb(255, 255, 255);
  transition: .3s;
  &:hover{
    cursor: pointer;
    border: 4px outset rgb(255, 174, 0);
    transition: .3s;
  }
  &:active{
    background: transparent;
    border: 2px inset rgb(255, 255, 255);
    transition: .3s;
  }
  &.check-cell{
    background: transparent;
    border: 2px inset rgb(255, 255, 255);
    transition: .3s;
  }
  &.flag-cell{
    &:active{
      background-color: rgb(59, 59, 59);
      border: 2px outset rgb(255, 255, 255);
    }
  }
  img{
    width: 80%;

  }
  &.help-cell{
    img{
      filter: contrast(0%) brightness(10);
    }
  }
}